@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    background-color: red;
    font-family: 'Fredoka One', cursive;
}

/*
========================================================
    Header Styling
========================================================
*/

header {
    padding-bottom: 20px;
    text-align: center;
    color: white;
}

.main_links {
    display: flex;
    justify-content: center;
}

.main_links a {
    border-top: white solid 1px;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    width: 100px;
}

.main_links a:hover {
    padding: 10px 30px;
    color: red;
    background-color: white;
}

/*
========================================================
    Moving Sidebar Navigation
========================================================
*/

#sticky_nav {
    position: sticky;
    top: 50px;
    float: left;
    border: white solid 5px;
    color: white;
    border-radius: 10px;
    margin-left: 30px;

  }

.content {
    display: none;
    padding: 10px 20px;
    background-color: white;
    position: absolute;
    width: 75px;
}

#sticky_nav:hover .content {
    display: block;
    list-style: none;
}

/*
========================================================
    Footer Styling
========================================================
*/

#page_container {
    position: relative;
    min-height: 100vh;
}

#content_wrap {
    height: 90vh;
}

footer {
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vh;
    text-align: center;
}

footer a, p {
    text-decoration: none;
    color: red;
}

footer p {
    font-size: 10px;
}