@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    background-color: red;
    font-family: 'Fredoka One', cursive;
}

/*
========================================================
    Main Content Styling
========================================================
*/

.main_body {
    background-color: white;
}

/*
========================================================
    Header Styling
========================================================
*/

header {
    grid-area: header;
    padding-bottom: 20px;
    text-align: center;
    color: white;
}

.main_links {
    display: flex;
    justify-content: center;
}

.main_links a {
    border-top: white solid 1px;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    width: 100px;
}

.main_links a:hover {
    padding: 10px 30px;
    color: red;
    background-color: white;
}


/*
========================================================
    Menu Styling
========================================================
*/

#menu_nav {
    display: flex;
    justify-content: center;
    background-color: red;
}

.food_type {
    box-sizing: border-box;
    border: 3px solid red;
    border-radius: 10px;
    margin: 20px 30px;
    width: 20%;
    text-align: center;
    background-color: white;
    color: red;
    text-decoration: none;
}

.food_type img {
    width: 50%;
    padding-bottom: 30px;
}

#menu {
    margin-left: 150px;
}

#menu ul {
    list-style: none;
    padding: 0;
}

.menu_item {
    display: grid;
    grid-template-areas: "pic . ."
                        "pic . name"
                        "pic desc desc"
                        "pic . .";
    grid-template-columns: 200px 20px auto;
    grid-template-rows: repeat(4, 75px);
    margin-right: 50px;
    text-align: right;
}

#menu img {
    grid-area: pic;
    object-fit: cover;
    height: 200px;
    width: 200px;
    align-self: center;
    border: 3px solid red;
    border-radius: 5px;
    margin: 10px 10px 10px 0;
}

#menu ul h3 {
    grid-area: name;
    margin: 0;
}

#menu ul p {
    grid-area: desc;
    padding-left: 10px;
    margin-top: 10px;
}

/*
========================================================
    Menu Media Query
========================================================
*/
@media screen and (min-width: 700px) {
    .menu_item {
        width: 40%;
        height: 350px;
        vertical-align: top;
        padding: 0;
        margin: 10px;
        display: inline-block;
    }

    #menu img {
        margin: 10px 0px;
        align-self: center;

    }
}

@media screen and (min-width: 900px) {
    .menu_item {
        width: 30%;
        height: 350px;
        vertical-align: top;
        padding: 0;
        margin: 10px;
        display: inline-block;
    }

    #menu img {
        margin: 10px 0px;
        align-self: center;

    }
}

/*
========================================================
    Moving Sidebar Navigation
========================================================

#sticky_nav {
    position: sticky;
    top: 50px;
    float: left;
    border: white solid 5px;
    color: white;
    border-radius: 10px;
    margin-left: 30px;
}

.content {
    display: none;
    padding: 10px 20px;
    background-color: white;
    position: absolute;
    width: 75px;
}

#sticky_nav:hover .content {
    display: block;
    list-style: none;
}
*/

/*
========================================================
    Footer Styling
========================================================
*/

footer {
    text-align: center;
    color: white;
    background-color: red;
}

footer a {
    text-decoration: none;
}

footer p {
    font-size: 12px;
    color: white;
}